/* Шрифты */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #feafc3;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 26px;
}

.user-button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
}

/* Кнопки "Основные" */

.main-button {
  background-color: #fcfcfc;
  color: #2d3440;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
  cursor: not-allowed;
}

/* Кнопки "Дополнительные" */

.additional-button {
  background-color: #ff2f64;
  color: #fcfcfc;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
}

.additional-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 4px solid #ff2f64;
}

.additional-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:disabled {
  background-color: #b9b9b9;
  color: #565c66;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Кнопка поиска */

.search-button {
  position: relative;
  display: block;
  width: 32px;
  min-height: 32px;
  border-radius: 27px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  -webkit-mask: url("../images/search-icon.svg");
  mask: url("../images/search-icon.svg");
}

.search-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
}

.search-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.search-button:focus-within {
  background-color: #ff4a78;
  border-radius: 27px;
  fill: #fcfcfc;
}

.search-button:focus-within:hover {
  opacity: 0.6;
}

.search-button:focus-within:active {
  opacity: 1;
}

.search-button:focus-within:focus-visible {
  opacity: 0.3
}

.search-button-wrapper:focus-within .search-button:not(:focus) {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.search-button:active.search-button::before,
.search-button:focus-visible.search-button::before,
.search-button:focus-within.search-button::before,
.search-button-wrapper:focus-within .search-button:not(:focus).search-button::before {
  display: block;
}

/* Кнопка входа */

.login-button {
  position: relative;
  width: 88px;
  min-height: 32px;
  border-radius: 30px;
  background-image: url("../images/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 7px;
  padding: 4px 16px 6px 38px;
}

.login-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;
  width: 14px;
  height: 15px;
  background-color: #ffffff;
  -webkit-mask: url("../images/login-icon.svg");
  mask: url("../images/login-icon.svg");
}

.login-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.login-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.login-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.login-button:focus-within {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.login-button:focus-within:hover {
  opacity: 0.6;
}

.login-button:focus-within:active {
  opacity: 1;
}

.login-button:focus-within:focus-visible {
  opacity: 0.3
}

.login-button-wrapper:focus-within .login-button:not(:focus) {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.user-interface-wrapper {
  display: flex;
  margin-left: auto;
}

.login-button:active.login-button::before,
.login-button:focus-visible.login-button::before,
.login-button:focus-within.login-button::before,
.login-button-wrapper:focus-within .login-button:not(:focus).login-button::before {
  display: block;
}

/* Кнопка корзины */

.cart-button {
  position: relative;
  min-width: 115px;
  min-height: 32px;
  border-radius: 30px;
  background-image: url("../images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px;
  padding: 4px 16px 6px 38px;
}

.cart-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 15px;
  height: 14px;
  background-color: #ffffff;
  -webkit-mask: url("../images/cart-icon.svg");
  mask: url("../images/cart-icon.svg");
}

.cart-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.cart-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.cart-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.cart-button:focus-within {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.cart-button:focus-within:hover {
  opacity: 0.6;
}

.cart-button:focus-within:active {
  opacity: 1;
}

.cart-button:focus-within:focus-visible {
  opacity: 0.3
}

.cart-button-wrapper:focus-within .cart-button:not(:focus) {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.cart-button:active.cart-button::before,
.cart-button:focus-visible.cart-button::before,
.cart-button:focus-within.cart-button::before,
.cart-button-wrapper:focus-within .cart-button:not(:focus).cart-button::before {
  display: block;
}

/* Кнопка "Добавить в корзину" */

.button-add-to-cart {
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
  background-image: url("../images/add-to-cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: inline-flex;
}

.button-add-to-cart::before {
  display: none;
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 15px;
  height: 14px;
  background-color: #2d3440;
  -webkit-mask: url("../images/add-to-cart-icon.svg");
  mask: url("../images/add-to-cart-icon.svg");
}

.button-add-to-cart:hover {
  outline: 2px solid #ff2f64;
  outline-offset: -2px;
  background-color: #fcfcfc;
}

.button-add-to-cart:active {
  background-color: #ffcbd8;
}

.button-add-to-cart:focus-visible {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.button-add-to-cart:disabled {
  background-color: #b9b9b9;
  border: none;
  cursor: not-allowed;
}

.button-add-to-cart:hover.button-add-to-cart::before,
.button-add-to-cart:active.button-add-to-cart::before,
.button-add-to-cart:disabled.button-add-to-cart::before {
  display: block;
}

/* Кнопка "Применить" в фильтре */

.filter-additional-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 2px solid #fcfcfc;
  border-radius: 20px;
  padding: 8px 52px;
}

.filter-additional-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-additional-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.filter-additional-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.filter-additional-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #fcfcfc;
}

/* Кнопки переключатели в слайдере */

.slider-button {
  width: 35px;
  height: 35px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #fcfcfc;
  outline: 2px solid #fcfcfc;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slider-button:hover {
  background-color: #fcfcfc;
  fill: #2d3440;
  outline: 2px solid #fcfcfc;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  fill: #2d3440;
}

.slider-wrapper {
  position: relative;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 243px;
  left: 528px;
  display: flex;
  column-gap: 291px;
}

/* Хедер */

.page-header {
  display: flex;
  padding-top: 24px;
}

.header-navigation {
  display: flex;
}

.header-logo {
  margin-right: 16px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.header-navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 425px;
}

.header-navigation-button-catalog {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  fill: #2d3440;
  padding: 8px 40px 8px 16px;
}

.header-catalog-image {
  position: absolute;
  top: 14px;
  right: 18px;
}

.user-interface-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 432px;
}

.header-navigation-link {
  text-decoration: none;
  color: #2d3440;
  line-height: 20px;
  padding: 8px 16px;
}

.header-navigation-link:hover,
.header-navigation-button-catalog:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.header-navigation-link:active,
.header-navigation-button-catalog:active {
  background-color: #fcfcfc;
}

.header-navigation-link:focus-visible,
.header-navigation-button-catalog:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

.header-navigation-button-catalog:focus-within {
  background-color: #ff4a78;
  border-radius: 30px;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.header-navigation-button-catalog:focus-within .header-catalog-image {
  transform: rotate(180deg);
}

.header-navigation-button-catalog:focus-within:hover {
  opacity: 0.6;
}

.header-navigation-button-catalog:focus-within:active {
  opacity: 0.3;
}

.catalog-button-wrapper:focus-within .header-navigation-button-catalog:not(:focus) {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.catalog-button-wrapper:focus-within .header-catalog-image {
  transform: rotate(180deg);
}

.header-tel-link {
  display: block;
  min-width: 147px;
  text-decoration: none;
  font-weight: 700;
  color: #2d3440;
  line-height: 20px;
  padding: 6px 0;
  align-self: center;
  margin-right: 16px;
}

.header-tel-link:hover {
  color: #fa505b;
}

.header-tel-link:active {
  opacity: 0.6;
}

.header-tel-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

/* Слайдер */

.slider {
  padding-top: 36px;
}

.slider-small-image {
  opacity: 0.4;
}

.slider-title {
  max-width: 470px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
}

.slider-description {
  max-width: 429px;
  margin-bottom: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-item-current {
  width: 888px;
  display: grid;
  grid-template-columns: 500px 357px;
  gap: 30px;
}

.slider-picture-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-picture-wrapper::before {
  content: "";
  position: absolute;
  width: 328px;
  height: 312px;
  left: calc(50% - 328px/2);
  top: calc(50% - 312px/2);
  background-color: #ffc8d8;
  border-radius: 50%;
  z-index: -1;
}

/* Пагинация в слайдере */

.slider-footer {
  display: flex;
  justify-content: space-between;
}

.slider-pagination-list {
  display: flex;
  gap: 8px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
  border-radius: 100px;
  opacity: 1;
}

.slider-pagination-button:active {
  background-color: #fcfcfc;
  outline: none;
  opacity: 0.5;
}

.slider-pagination-button:focus-visible {
  background: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  outline-offset: -1px;
  border-radius: 100px;
  opacity: 1;
}

/* Секция баннеров с подарками */

.gifts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.gift-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;
  min-width: 570px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px;
}

.raspberry-gift::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 2px;
  width: 219px;
  height: 268px;
  background-image: url("../images/gift-raspberries.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.91);
}

.marshmallow-gift::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -10px;
  width: 219px;
  height: 233px;
  background-image: url("../images/gift-marshmallow.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.043);
}

.banners-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.gift-title {
  max-width: 317px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.gift-description {
  margin: 0;
  max-width: 304px;
  color: #2d3440;
}

.gift-button {
  max-width: 176px;
}

/* Карточки товаров */

.popular-goods {
  margin-bottom: 80px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
}

.goods-item {
  position: relative;
  padding: 0 40px 40px 40px;
}

.goods-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 51px);
  left: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: #fcfcfc;
  z-index: -1;
}

.goods-image-wrapper {
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.goods-image {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}

.popular-goods-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.goods-title-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.goods-description {
  text-align: center;
  color: #565c66;
}

.goods-price {
  margin-right: 65px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

/* Блок с описанием магазина Глейси */

.about-us {
  position: relative;
  padding: 80px 64px;
  border-radius: 16px;
  background-image: url("../images/waffle-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  margin-bottom: 80px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border-radius: 16px;
  background-color: #ffffff;
  z-index: -1;
}

.about-us-title {
  margin: 0 0 55px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.about-us-description-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
}

.about-us-description-item {
  max-width: 505px;
  padding-left: 64px;
  color: #565c66;
}

.about-us-ice-cream-icon {
  position: relative;
}

.about-us-ice-cream-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/ice-cream-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

.about-us-cow-icon {
  position: relative;
}

.about-us-cow-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/cow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

.about-us-leaf-icon {
  position: relative;
}

.about-us-leaf-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

.about-us-thermometer-icon {
  position: relative;
}

.about-us-thermometer-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/thermometer-icon.svg");
  background-repeat: no-repeat;
  background-position: 14px 6px;
  border: 2px solid #2D3440;
  border-radius: 50%;
}

/* Блок с новостями */

.news-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.news-serving {
  min-width: 570px;
  padding: 33px 235px 70px 32px;
  border-radius: 16px;
  background-image: url("../images/news-serving-background.png");
  background-repeat: no-repeat;
  background-position: top -107px right -77px;
  background-size: 115%;
  background-color: #ffffff;
}

.news-title {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.news-description-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.news-description-link:hover {
  color: #fa505b;
}

.news-description-link:active {
  opacity: 0.6;
}

.news-description-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}



/* Форма подписки в блоке с новостями */

.newsletter {
  position: relative;
  padding: 32px;
  background-image: url("../images/newsletter-mail-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  border-radius: 16px;
}

.newsletter::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 16px;
  background-color: #ffffff;
  z-index: -1;
}

.newsletter-description {
  margin: 0 0 44px 0;
  color: #565c66;
}

.newsletter-form {
  display: flex;
  width: 506px;
  min-height: 42px;
  gap: 18px;
}

.newsletter-field {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 332px;
  height: 100%;
  padding: 14px 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.newsletter-field::placeholder {
  color: #b9b9b9;
}

/* Блок с доставкой */

.delivery {
  display: flex;
  gap: 135px;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 80px;
}

.delivery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-image: url("../images/delivery-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.delivery-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.delivery-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 106px;
}

.delivery-description {
  margin: 0;
  color: #565c66;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.date-input {
  width: 117px;
}

.phone-input {
  width: 287px;
}

.delivery-form-text {
  margin: 0 0 32px 0;
  color: #565c66;
}

.delivery-form-wrapper {
  background: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 500px;
  min-height: 406px;
  padding: 40px;
}

.user-data-wrapper {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
  margin-bottom: 20px;
}

.delivery-form-label-address {
  margin-bottom: 32px;
}

.address-input {
  width: 420px;
}

.delivery-form-label {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-input {
  margin-top: 8px;
  min-height: 42px;
  padding: 14px;
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.send-button {
  max-width: 152px;
  margin: 0 auto;
}

.delivery-input::placeholder {
  color: #b9b9b9;
}

/* Блок "Обратная связь" */

.feedback {
  position: relative;
  padding: 64px;
  border-radius: 16px;
}

.feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/feedback-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  z-index: -1;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  padding: 40px;
}

.contacts-description {
  color: #565c66;
}

.contacts-address {
  font-style: normal;
}

.contacts-address-text {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone:hover {
  color: #fa505b;
}

.contacts-phone:active {
  opacity: 0.6;
}

.contacts-phone:focus-visible {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

.contacts-phone-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

/* Хлебные крошки на внутренней странице */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 28px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  top: 7px;
  right: 10px;
  background-image: url("../images/breadcrumbs-arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-link:hover {
  color: #fa505b;
}

.breadcrumbs-link:active {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.catalog-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

/* Фильтр на внутренней странице */

.ice-cream-filter-title {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.ice-cream-filter-select {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.input-radio-text {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.input-checkbox-text {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

/* Футер */

.page-footer {
  margin-top: auto;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.socials-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 105px;
  gap: 16px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 24px;
  max-width: 356px;
}

.footer-list-item {
  min-width: 126px;
}

.copyright-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-list-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  cursor: default;
}

.footer-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.footer-link:hover {
  color: #fa505b;
}

.footer-link:active {
  opacity: 0.6;
}

.footer-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.footer-link-heart {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
}

.copyright-link {
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid #947281;
}

.copyright-link:hover {
  color: #fa505b;
  border-color: #fa505b;
}

.copyright-link:active {
  opacity: 0.5;
}

.copyright-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.logo-html-academy {
  display: flex;
  align-self: start;
  fill: #2d3440;
  width: 93px;
  height: 27px;
  background-image: url("../images/html-academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 14px;
}

.logo-html-academy:hover {
  opacity: 0.6;
}

.logo-html-academy:active {
  opacity: 0.3;
}

.logo-html-academy:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

/* Пагинация в каталоге*/

.pagination-prev {
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("../images/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-next {
  display: block;
  width: 6px;
  height: 11px;
  background-image: url("../images/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.pagination-disable {
  opacity: 0.3;
}

.pagination-link {
  display: flex;
  width: 24px;
  height: 24px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 2px 8px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 50px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  outline-offset: -1px;
  border-radius: 50px;
}

/* Иконки социальных сетей */

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.telegram-icon {
  background-image: url("../images/telegram-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte-icon {
  background-image: url("../images/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-icon {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials-link:hover {
  background-color: #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.socials-link:active {
  opacity: 0.5;
}

.socials-link:focus-visible  {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
  outline-offset: inherit;
}

/* Общие свойства для поповеров */

.popover {
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
}

/* Поповер каталога */

.catalog-button-wrapper {
  position: relative;
}

.catalog-popover {
  position: absolute;
  top: 40px;
  left: 0;
  width: 135px;
  min-height: 188px;
}

.catalog-popover-content {
  height: 100%;
}

.catalog-popover-control {
  display: none;
}

.catalog-button-wrapper:focus-within .catalog-popover-control {
  display: block;
}

.catalog-popover-list {
  list-style-type: none;
  padding: 0;
}

.catalog-popover-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 8px 14px;
}

.catalog-popover-link-novelties {
  font-weight: 700;
}

.catalog-popover-link:hover {
  background-color: #ffcbd8;
}

.catalog-popover-link:active {
  background-color: #ff7799;
}

.catalog-popover-link:focus-visible {
  outline: none;
  background: #ff4a78;
  color: #fcfcfc;
}

/* Поповер поиска */

.search-button-wrapper {
  height: 32px;
  position: relative;
}

.search-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
}

.search-popover-content {
  height: 100%;
}

.search-popover-input {
  border: 1px solid #b9b9b9;
  border-radius: 4px;
  width: 324px;
  min-height: 48px;
  padding-left: 16px;
}

.search-popover-control {
  display: none;
}

.search-button-wrapper:focus-within .search-popover-control {
  display: block;
}

/* Поповер корзины */

.without-goods {
  display: none;
}

.cart-empty .with-goods {
  display: none;
}

.cart-empty .without-goods {
  display: block;
}

.cart-button-wrapper {
  position: relative;
}

.cart-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 441px;
  min-height: 382px;
  padding: 48px;
}

.cart-popover-content {
  height: 100%;
}

.cart-popover-control {
  display: none;
}

.cart-button-wrapper:focus-within .cart-popover-control {
  display: block;
}

.popover-item-close-button {
  width: 10px;
  height: 10px;
  border: none;
  background-image: url("../images/popover-delete-item-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  padding: 3px;
}

.cart-popover-empty {
  position: absolute;
  top: 40px;
  right: 0;
  width: 288px;
  min-height: 156px;
  padding: 48px 0;
}

.cart-empty:focus-within .cart-popover-empty-control {
  display: block;
}

.cart-empty:focus-within .cart-popover-control {
  display: none;
}

.cart-popover-empty-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-align: center;
  }

  .cart-popover-empty-control {
    display: none;
  }

/* Поповер входа в личный кабинет */

.login-button-wrapper {
  position: relative;
}

.login-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 420px;
  min-height: 350px;
  padding: 48px;
}

.login-popover-content {
  height: 100%;
}

.login-popover-control {
  display: none;
}

.login-button-wrapper:focus-within .login-popover-control {
  display: block;
}

.login-popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.login-popover-input {
  width: 324px;
  min-height: 48px;
  margin-bottom: 16px;
  padding: 0 16px;
  color: #2d3440;
}

.login-popover-input:last-child {
  margin-bottom: 32px;
}

.login-form-links-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.login-form-recovery-link,
.registration-form-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border-bottom: 1px solid #2d3440;
}

.login-form-recovery-link:hover,
.registration-form-link:hover {
  color: #fa505b;
  border-color: #fa505b;
}

.login-form-recovery-link:active,
.registration-form-link:active {
  opacity: 0.6;
}

.login-form-recovery-link:focus-visible,
.registration-form-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
}
