/* Шрифты */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #feafc3;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page-container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 26px;
}

/* Кнопки "Основные" */

.main-button {
  background-color: #fcfcfc;
  color: #2d3440;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
  cursor: not-allowed;
}

/* Кнопки "Дополнительные" */

.additional-button {
  background-color: #ff2f64;
  color: #fcfcfc;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
}

.additional-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 4px solid #ff2f64;
}

.additional-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:disabled {
  background-color: #b9b9b9;
  color: #565c66;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Кнопка поиска */

.search-button {
  width: 32px;
  height: 32px;
  border-radius: 27px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
}

.search-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #2d3440;
}

.search-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.search-button:focus-within {
  background-color: #ff4a78;
  border-radius: 27px;
  fill: #fcfcfc;
}

/* Кнопка входа */

.login-button {
  width: 88px;
  height: 32px;
  border-radius: 30px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
}

.login-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.login-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.login-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.login-button:focus-within {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

/* Кнопка корзины */

.cart-button {
  width: 115px;
  height: 32px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
  border-radius: 30px;
}

.cart-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.cart-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  border: 2px solid #000000;
}

.cart-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.cart-button:focus-within {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

/* Кнопка "Добавить в корзину" */

.button-add-to-cart {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
  fill: #fcfcfc;
}

.button-add-to-cart:hover {
  border: 2px solid #ff2f64;
  background-color: #fcfcfc;
  fill: #000000;
}

.button-add-to-cart:active {
  background-color: #ffcbd8;
}

.button-add-to-cart:focus-visible {
  outline: none;
  border: 2px solid #2d3440;
}

.button-add-to-cart:disabled {
  background-color: #b9b9b9;
  fill: #565c66;
  border: none;
  cursor: not-allowed;
}

/* Кнопка "Применить" в фильтре */

.filter-additional-button {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 2px solid #fcfcfc;
  border-radius: 20px;
  padding: 8px 52px;
}

.filter-additional-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-additional-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.filter-additional-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.filter-additional-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #fcfcfc;
}

/* Кнопки переключатели в слайдере */

.slider-button {
  width: 38px;
  height: 38px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #fcfcfc;
  outline: 2px solid #fcfcfc;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slider-button:hover {
  background-color: #fcfcfc;
  fill: #2d3440;
  outline: 2px solid #fcfcfc;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  fill: #2d3440;
}

/* Слайдер */

.slider-small-image {
  opacity: 0.4;
}
