/* Шрифты */

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background-color: #feafc3;
  color: #000000;
}

img {
  object-fit: contain;
}

.page-container {
  width: 1366px;
  margin: 0 auto;
  padding: 0 98px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #000000;
  text-decoration: none;
  border-radius: 26px;
}

.button.is-loading {
  display: inline-flex;
  align-items: center;
}

.button.is-loading::after {
  content: "";
  display: inline-flex;
  margin-left: 9px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(36, 36, 36, 0.24);
  border-bottom-color: #242424;
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.additional-button.is-loading::after {
  content: "";
  display: inline-flex;
  margin-left: 9px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-bottom-color: rgba(36, 36, 36, 0.6);
  border-radius: 50%;
  animation-name: loading;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.user-button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  cursor: pointer;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #2d3440;
}

.field {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  outline: 1px solid #b9b9b9;
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 13px 16px;
  color: #2d3440;
}

.field:hover,
.feedback-textarea:hover {
  outline: 1px solid #2d3440;
  border-radius: 4px;
  border: none;
}

.field:focus,
.feedback-textarea:focus {
  outline: 2px solid #2d3440;
  border-radius: 4px;
  border: none;
}

.field:disabled,
.feedback-textarea:disabled {
  background-color: #e7e7e7;
  outline: 1px solid #b9b9b9;
  border-radius: 4px;
  border: none;
  opacity: 0.65;
}

.field:disabled:hover,
.feedback-textarea:disabled:hover {
  opacity: 1;
}

.field::placeholder,
.feedback-textarea::placeholder {
  color: #b9b9b9;
}

/* Кнопки "Основные" */

.main-button {
  background-color: #fcfcfc;
  color: #2d3440;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.main-button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid #fcfcfc;
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
}

.main-button:active {
  background-color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.main-button:disabled {
  background-color: #e7e7e7;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  color: #b9b9b9;
  cursor: not-allowed;
}

/* Кнопки "Дополнительные" */

.additional-button {
  background-color: #ff2f64;
  color: #fcfcfc;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
}

.additional-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 4px solid #ff2f64;
}

.additional-button:active {
  background-color: #feafc3;
  color: #fcfcfc;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:focus-visible {
  background-color: #ff2f64;
  outline: 2px solid #2d3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}

.additional-button:disabled {
  background-color: #b9b9b9;
  color: #565c66;
  outline: 4px solid rgba(185, 185, 185, 0.3);
}

/* Кнопка поиска */

.search-button {
  position: relative;
  display: block;
  width: 32px;
  min-height: 32px;
  border-radius: 27px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  -webkit-mask: url("../images/search-icon.svg");
  mask: url("../images/search-icon.svg");
}

.search-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
}

.search-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.search-button:focus-within {
  background-color: #ff4a78;
  border-radius: 27px;
}

.search-button:focus-within:hover {
  opacity: 0.6;
}

.search-button:focus-within:active {
  opacity: 1;
}

.search-button:focus-within:focus-visible {
  opacity: 0.3
}

.search-button-wrapper:focus-within .search-button:not(:focus) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.search-button:active.search-button::before,
.search-button:focus-visible.search-button::before,
.search-button:focus-within.search-button::before,
.search-button-wrapper:focus-within .search-button:not(:focus).search-button::before {
  display: block;
}

/* Кнопка входа */

.login-button {
  position: relative;
  width: 88px;
  min-height: 32px;
  border-radius: 30px;
  background-image: url("../images/login-icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 7px;
  padding: 4px 16px 6px 38px;
}

.login-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 7px;
  left: 18px;
  width: 14px;
  height: 15px;
  background-color: #ffffff;
  -webkit-mask: url("../images/login-icon.svg");
  mask: url("../images/login-icon.svg");
}

.login-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.login-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.login-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.login-button:focus-within {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.login-button:focus-within:hover {
  opacity: 0.6;
}

.login-button:focus-within:active {
  opacity: 1;
}

.login-button:focus-within:focus-visible {
  opacity: 0.3
}

.login-button-wrapper:focus-within .login-button:not(:focus) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.user-interface-wrapper {
  display: flex;
  margin-left: auto;
}

.login-button:active.login-button::before,
.login-button:focus-visible.login-button::before,
.login-button:focus-within.login-button::before,
.login-button-wrapper:focus-within .login-button:not(:focus).login-button::before {
  display: block;
}

/* Кнопка корзины */

.cart-button {
  position: relative;
  min-width: 115px;
  max-width: 140px;
  min-height: 32px;
  border-radius: 30px;
  background-image: url("../images/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px 8px;
  padding: 4px 16px 6px 38px;
}

.cart-button::before {
  display: none;
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 15px;
  height: 14px;
  background-color: #ffffff;
  -webkit-mask: url("../images/cart-icon.svg");
  mask: url("../images/cart-icon.svg");
}

.cart-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.cart-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -1px;
}

.cart-button:focus-visible {
  outline: none;
  background-color: #fcfcfc;
}

.cart-button:focus-within {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.cart-button:focus-within:hover {
  opacity: 0.6;
}

.cart-button:focus-within:active {
  opacity: 1;
}

.cart-button:focus-within:focus-visible {
  opacity: 0.3
}

.cart-button-wrapper:focus-within .cart-button:not(:focus) {
  background-color: #ff4a78;
  color: #fcfcfc;
}

.cart-button:active.cart-button::before,
.cart-button:focus-visible.cart-button::before,
.cart-button:focus-within.cart-button::before,
.cart-button-wrapper:focus-within .cart-button:not(:focus).cart-button::before {
  display: block;
}

/* Кнопка "Добавить в корзину" */

.button-add-to-cart {
  position: relative;
  min-width: 32px;
  height: 32px;
  border: none;
  background-color: #ff2f64;
  border-radius: 26px;
  cursor: pointer;
  background-image: url("../images/add-to-cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: inline-flex;
  margin-left: auto;
}

.button-add-to-cart::before {
  display: none;
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 15px;
  height: 14px;
  background-color: #2d3440;
  -webkit-mask: url("../images/add-to-cart-icon.svg");
  mask: url("../images/add-to-cart-icon.svg");
}

.button-add-to-cart:hover {
  outline: 2px solid #ff2f64;
  outline-offset: -2px;
  background-color: #fcfcfc;
}

.button-add-to-cart:active {
  background-color: #ffcbd8;
}

.button-add-to-cart:focus-visible {
  outline: 2px solid #2d3440;
  outline-offset: -2px;
}

.button-add-to-cart:disabled {
  background-color: #b9b9b9;
  border: none;
  cursor: not-allowed;
}

.button-add-to-cart:disabled::before {
  background-color: #565c66;
}

.button-add-to-cart:hover.button-add-to-cart::before,
.button-add-to-cart:active.button-add-to-cart::before,
.button-add-to-cart:disabled.button-add-to-cart::before {
  display: block;
}

/* Кнопка "Применить" в фильтре */

.filter-additional-button {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(252, 252, 252, 0.3);
  color: #2d3440;
  outline: 2px solid #fcfcfc;
  border-radius: 20px;
  padding: 8px 52px;
}

.filter-additional-button:hover {
  background-color: #fcfcfc;
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.filter-additional-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.filter-additional-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
}

.filter-additional-button:disabled {
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  outline: 2px solid #fcfcfc;
}

/* Кнопки переключатели в слайдере */

.slider-button {
  width: 35px;
  height: 35px;
  background-color: rgba(252, 252, 252, 0.3);
  fill: #fcfcfc;
  outline: 2px solid #fcfcfc;
  border-radius: 26px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slider-button:hover {
  background-color: #fcfcfc;
  fill: #2d3440;
  outline: 2px solid #fcfcfc;
}

.slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.slider-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid #2d3440;
  fill: #2d3440;
}

.slider-button:disabled {
  opacity: 0.4;
}

/* Хедер */

.page-header {
  display: flex;
  padding-top: 24px;
  gap: 40px;
}

.header-navigation {
  display: flex;
}

.header-logo {
  margin-right: 16px;
}

.header-logo:hover {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

.header-logo:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.header-navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 465px;
}

.header-navigation-button-catalog {
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  fill: #2d3440;
  padding: 8px 40px 8px 16px;
}

.header-catalog-image {
  position: absolute;
  top: 14px;
  right: 18px;
}

.user-interface-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 432px;
  padding: 15px 0;
}

.header-navigation-link {
  text-decoration: none;
  color: #2d3440;
  line-height: 20px;
  padding: 8px 16px;
}

.header-navigation-link:hover,
.header-navigation-button-catalog:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}

.header-navigation-link:active,
.header-navigation-button-catalog:active {
  background-color: #fcfcfc;
}

.header-navigation-link:focus-visible,
.header-navigation-button-catalog:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

.header-navigation-button-catalog:focus-within {
  background-color: #ff4a78;
  border-radius: 30px;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.header-navigation-button-catalog:focus-within .header-catalog-image {
  transform: rotate(180deg);
}

.header-navigation-button-catalog:focus-within:hover {
  opacity: 0.6;
}

.header-navigation-button-catalog:focus-within:active {
  opacity: 0.3;
}

.catalog-button-wrapper:focus-within .header-navigation-button-catalog:not(:focus) {
  background-color: #ff4a78;
  fill: #fcfcfc;
  color: #fcfcfc;
}

.catalog-button-wrapper:focus-within .header-catalog-image {
  transform: rotate(180deg);
}

.header-tel-link {
  display: block;
  max-width: 150px;
  flex-shrink: 0;
  text-decoration: none;
  font-weight: 700;
  color: #2d3440;
  line-height: 20px;
  padding: 20px 0;
  margin-right: 16px;
}

.header-tel-link:hover {
  opacity: 0.6;
}

.header-tel-link:active {
  opacity: 0.3;
}

.header-tel-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

/* Слайдер */

.slider {
  padding-top: 40px;
  margin-bottom: 80px;
}

.slider-wrapper {
  position: relative;
}

.slider-buttons-wrapper {
  position: absolute;
  top: 243px;
  left: 528px;
  display: flex;
  column-gap: 291px;
}

.slider-small-image {
  opacity: 0.4;
}

.slider-title {
  max-width: 470px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2d3440;
  margin: 0 0 24px 0;
}

.slider-description {
  max-width: 429px;
  margin: 0 0 46px 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2d3440;
}

.slider-item-current {
  order: -1;
  width: 888px;
  display: grid;
  grid-template-columns: 500px 357px;
  gap: 30px;
}

.slider-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.slider-description-wrapper {
  padding: 116px 0 0 70px;
}

.slider-item {
  max-width: 100px;
}

.slider-item.slider-item-current {
  max-width: initial;
}

.slider-item .slider-description-wrapper {
  display: none;
}

.slider-item.slider-item-current .slider-description-wrapper {
  display: block;
}

.slider-item .slider-picture-wrapper {
  transform: scale(0.3);
  opacity: 0.4;
}

.slider-item.slider-item-current .slider-picture-wrapper {
  transform: scale(1);
  opacity: 1;
}

.slider-picture-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.slider-picture-wrapper::before {
  content: "";
  position: absolute;
  width: 328px;
  height: 312px;
  top: 100px;
  left: calc(50% - 328px/2);
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 50%;
  z-index: -1;
}

/* Пагинация в слайдере */

.slider-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.slider-pagination-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 50%;
  align-self: flex-end;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.slider-pagination-button-current {
  opacity: 1;
}

.slider-pagination-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
  border-radius: 100px;
  opacity: 1;
}

.slider-pagination-button:active {
  background-color: #fcfcfc;
  outline: none;
  opacity: 0.5;
}

.slider-pagination-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  outline-offset: -1px;
  border-radius: 100px;
  opacity: 1;
}

/* Секция баннеров с подарками */

.banners {
  margin-bottom: 80px;
}

.gifts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.gift-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: #ff7799;
  border-radius: 16px;
  padding: 36px;
}

.raspberry-gift::before {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 2px;
  width: 219px;
  height: 268px;
  background-image: url("../images/gift-raspberries.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.91);
}

.marshmallow-gift::before {
  content: "";
  position: absolute;
  bottom: 5px;
  right: -10px;
  width: 219px;
  height: 233px;
  background-image: url("../images/gift-marshmallow.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.043);
}

.banners-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  max-width: 434px;
  margin: 0 auto 55px;
}

.gift-title {
  max-width: 310px;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.gift-description {
  margin: 0;
  max-width: 304px;
  color: #2d3440;
}

.gift-button {
  align-self: flex-start;
  max-width: 304px;
}

/* Карточки товаров */

.popular-goods {
  margin-bottom: 80px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  gap: 40px 30px;
  margin-bottom: 16px;
}

.goods-item {
  position: relative;
  padding: 0 40px 24px 40px;
}

.goods-item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: calc(100% - 51px);
  left: 0;
  bottom: 0;
  border-radius: 8px;
  background-color: #fcfcfc;
  z-index: -1;
}

.goods-image-wrapper {
  filter: drop-shadow(0 4px 12px rgba(45, 52, 64, 0.1));
}

.goods-image {
  display: block;
  margin: 0 auto 16px;
  object-fit: cover;
  clip-path: circle(50% at 50% 50%);
}

.popular-goods-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
  max-width: 527px;
  margin: 0 auto 55px;
}

.goods-title-link {
  margin-bottom: 8px;
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.goods-title-link:hover,
.cart-item-title-link:hover {
  opacity: 0.6;
}

.goods-title-link:active,
.cart-item-title-link:active {
  opacity: 0.3;
}

.goods-title-link:focus-visible,
.cart-item-title-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.goods-description {
  margin-top: 0;
  text-align: center;
  color: #565c66;
}

.goods-price-wrapper {
  display: flex;
}

.goods-price {
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

/* Блок с описанием магазина Глейси */

.about-us {
  position: relative;
  padding: 80px 64px;
  border-radius: 16px;
  background-image: url("../images/waffle-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  margin-bottom: 80px;
}

.about-us::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 24px;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  border-radius: 16px;
  background-color: #ffffff;
  z-index: -1;
}

.about-us-title {
  margin: 0 0 55px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  color: #2d3440;
}

.about-us-description-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  justify-content: space-between;
}

.about-us-description-item {
  max-width: 505px;
  padding-left: 64px;
  color: #565c66;
}

.about-us-ice-cream-icon {
  position: relative;
}

.about-us-ice-cream-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/ice-cream-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.about-us-cow-icon {
  position: relative;
}

.about-us-cow-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/cow-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.about-us-leaf-icon {
  position: relative;
}

.about-us-leaf-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

.about-us-thermometer-icon {
  position: relative;
}

.about-us-thermometer-icon::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
  background-image: url("../images/thermometer-icon.svg");
  background-repeat: no-repeat;
  background-position: 14px 6px;
  border: 2px solid #2d3440;
  border-radius: 50%;
}

/* Блок с новостями */

.news-wrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.news-serving {
  min-width: 570px;
  padding: 32px 235px 70px 32px;
  border-radius: 16px;
  background-image: url("../images/news-serving-background.png");
  background-repeat: no-repeat;
  background-position: top;
  background-color: #ffffff;
}

.news-title {
  margin: 0 0 12px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565c66;
}

.news-description-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.news-description-link:hover {
  opacity: 0.6;
}

.news-description-link:active {
  opacity: 0.3;
}

.news-description-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

/* Форма подписки в блоке с новостями */

.newsletter {
  position: relative;
  padding: 32px;
  background-image: url("../images/newsletter-mail-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  border-radius: 16px;
}

.newsletter::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  border-radius: 16px;
  background-color: #ffffff;
  z-index: -1;
}

.newsletter-description {
  margin: 0 0 44px 0;
  color: #565c66;
}

.newsletter-form {
  display: flex;
  width: 506px;
  min-height: 42px;
  gap: 18px;
}

.newsletter-form .send-button {
  margin-right: 4px;
}

.newsletter-field {
  min-width: 200px;
}

/* Блок с доставкой */

.delivery {
  display: flex;
  gap: 135px;
  padding: 64px 64px 64px 100px;
  border-radius: 16px;
  position: relative;
  margin-bottom: 80px;
  background-color: #f0f0f0;
  z-index: 1;
}

.delivery::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-image: url("../images/delivery-background.png");
  background-repeat: no-repeat;
  background-position: top;
  z-index: -1;
}

.delivery-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.delivery-description-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 104px;
  max-width: 375px;
}

.delivery-description {
  margin: 0;
  color: #565c66;
}

.delivery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 16px;
}

.delivery-form .field {
  margin-top: 9px;
}

.date-field {
  width: 117px;
}

.phone-field {
  width: 287px;
}

.delivery-form-text {
  margin: 0 0 32px 0;
  color: #565c66;
}

.delivery-form-wrapper {
  align-self: start;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 500px;
  min-height: 406px;
  padding: 40px;
}

.user-data-wrapper {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
  margin-bottom: 20px;
}

.delivery-form-label:last-of-type {
  margin-bottom: 13px;
}

.address-field {
  width: 420px;
}

.delivery-form-label {
  font-weight: 700;
  line-height: 20px;
  color: #2d3440;
}

.delivery-form-label-date {
  max-width: 117px;
}

.delivery-form-label-phone {
  max-width: 287px;
}

.send-button {
  margin: 0 auto;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 4px;
  left: 5px;
  background-image: url("../images/tooltip-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tooltip-text {
  position: absolute;
  top: -9px;
  left: 35px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  background-color: #fcfcfc;
  color: #565c66;
  box-shadow: 0 2px 12px rgba(173, 152, 143, 0.18);
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  max-width: 122px;
  padding: 10px 8px;
  display: none;
}

.tooltip-arrow::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fcfcfc;
  top: 11px;
  left: -8px;
  border-top: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  transform: rotate(-45deg);
}

.tooltip-address-text {
  min-width: 168px;
}

.tooltip:hover .tooltip-text {
  display: block;
}

/* Блок "Обратная связь" */

.feedback {
  position: relative;
  padding: 64px;
  border-radius: 16px;
}

.feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/feedback-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  z-index: -1;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  padding: 40px;
}

.contacts-description {
  margin-top: 0;
  max-width: 179px;
  color: #565c66;
  margin-bottom: 12px;
}

.contacts-phone-description {
  color: #565c66;
  margin-bottom: 12px;
}

.contacts-address {
  font-style: normal;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}

.contacts-phone {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.contacts-phone:hover {
  opacity: 0.6;
}

.contacts-phone:active {
  opacity: 0.3;
}

.contacts-phone:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2d3440;
  outline-offset: -1px;
  border-radius: 30px;
}

.contacts-phone-text {
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.feedback-form-button {
  max-width: 250px;
}

/* Хлебные крошки на внутренней странице */

.creamy-ice-cream-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 28px;
}

.breadcrumbs-item:not(:last-child):after {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  top: 7px;
  right: 10px;
  background-image: url("../images/breadcrumbs-arrows.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #2d3440;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid #2d3440;
}

.breadcrumbs-link:hover,
.breadcrumbs-link-current:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.catalog-title {
  margin: 0 0 40px 0;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

/* Фильтр на внутренней странице */

.ice-cream-filter {
  margin-bottom: 44px;
}

.ice-cream-filter-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 920px;
  gap: 15px 18px;
}

.ice-cream-filter-group {
  padding-right: 0;
  padding-left: 0;
  padding: 0;
  border: none;
}

.ice-cream-filter-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 383px;
  gap: 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 8px 24px;
}

.radio-list {
  max-width: 383px;
}

.checkbox-list {
  max-width: 604px;
}

.apply-button {
  margin-top: 27px;
  max-height: 36px;
}

.ice-cream-filter-title {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding-bottom: 8px;
  padding-left: 16px;
}

.ice-cream-filter-select {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  border: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 63px 8px 16px;
  max-width: 196px;
  -webkit-appearance: none;
  background-image: url("../images/catalog-arrow.svg");
  background-repeat: no-repeat;
  background-position: 169px 16px;
  cursor: pointer;
}

.ice-cream-filter-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.ice-cream-filter-select:active {
  outline: none;
}

.ice-cream-filter-select:focus {
  outline: 2px solid #fcfcfc;
  outline-offset: -1px;
  border-radius: 26px;
}

.input-radio-text {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.input-checkbox-text {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.control {
  position: relative;
  cursor: pointer;
  padding-left: 24px;
}

.control-outline {
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 100%;
}

.input-radio:disabled + .control-outline,
.input-checkbox:disabled + .control-outline {
  opacity: 0.4;
}

.input-radio + .control-outline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  border: 1.5px solid #2d3440;
  border-radius: 50%;
}

.control:hover .control-outline::after {
  border-color: #fcfcfc;
}

.control:hover .input-radio:checked + .control-outline-radio::before {
  background-color: #fcfcfc;
}

.control:active .input-radio-text,
.control:active .input-checkbox-text {
  opacity: 0.7;
}

.input-checkbox:focus-visible + .control-outline,
.input-radio:focus-visible + .control-outline {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.input-radio:checked + .control-outline-radio::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 9px;
  left: 5px;
  background-color: #2d3440;
  border-radius: 50%;
}

.input-checkbox + .control-outline::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  background-image: url("../images/checkbox-not-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox + .control-outline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  display: none;
  background-color: #fcfcfc;
  -webkit-mask: url("../images/checkbox-not-checked.svg");
  mask: url("../images/checkbox-not-checked.svg");
}

.input-checkbox:checked + .control-outline::before {
  background-image: url("../images/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.input-checkbox:checked + .control-outline::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 0;
  background-color: #fcfcfc;
  -webkit-mask: url("../images/checkbox-checked.svg");
  mask: url("../images/checkbox-checked.svg");
}

.control:hover .control-outline::after {
  display: block;
}

/* Рендж слайдер */

.range-wrapper {
  position: relative;
  width: 196px;
  padding: 6px 16px;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-wrapper::before {
  content: "";
  position: absolute;
  width: 164px;
  height: 2px;
  background-color: #565c66;
  opacity: 0.3;
  top: 18px;
  left: 16px;
  z-index: -1;
}

.range-wrapper::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: #565c66;
  top: 18px;
  left: 56px;
  z-index: -1;
}

.range-toggle {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #2d3440;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #fcfcfc;
}

.range-toggle:hover::before {
  background-color: #2d3440;
}

.range-toggle:active,
.range-toggle:hover::before {
  background-color: #2d3440;
}

.range-toggle:focus-visible {
  background-color: #fcfcfc;
  border: none;
  outline: 2px solid #2d3440;
}

.range-toggle:focus-visible::before {
  background-color: #2d3440;
}

.range-toggle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #fcfcfc;
  top: 6px;
  left: 6px;
  border-radius: 50%;
}

.toggle-min {
  transform: translate(24px, -4px);
}

.toggle-max {
  transform: translate(73px, -4px);
}

/* Футер */

.page-footer {
  margin-top: auto;
  display: grid;
  grid-template-columns: 353px 451px 1fr;
  padding: 48px 0;
}

.socials-list {
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-wrap: wrap;
  max-width: 45%;
  gap: 16px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 24px;
  padding-left: 34px;
}

.footer-list-item {
  min-width: 126px;
}

.copyright-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.footer-list-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 1px;
}

.footer-list-heart {
  position: relative;
}

.footer-list-heart::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 3px;
  left: -24px;
  background-image: url("../images/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-link {
  text-decoration: none;
  color: #2d3440;
  font-size: 14px;
  line-height: 20px;
}

.footer-link:hover {
  opacity: 0.6;
}

.footer-link:active {
  opacity: 0.3;
}

.footer-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.footer-link-heart {
  font-weight: 700;
}

.footer-copyright {
  max-width: 200px;
  font-size: 12px;
  line-height: 16px;
  color: #2d3440;
  margin: 0;
}

.copyright-link {
  text-decoration: none;
  color: #2d3440;
  border-bottom: 1px solid #947281;
}

.copyright-link:hover {
  opacity: 0.6;
}

.copyright-link:active {
  opacity: 0.3;
}

.copyright-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.logo-html-academy {
  display: flex;
  align-self: start;
  fill: #2d3440;
  width: 93px;
  height: 27px;
  background-image: url("../images/html-academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 14px;
}

.logo-html-academy:hover {
  opacity: 0.6;
}

.logo-html-academy:active {
  opacity: 0.3;
}

.logo-html-academy:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

/* Пагинация в каталоге*/

.pagination-container {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 41px 0 80px;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.button-show-more {
  margin-left: 50%;
  transform: translateX(-50%);
}

.pagination-prev {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-next {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url("../images/pagination-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.pagination-disable {
  opacity: 0.3;
}

.pagination-link {
  display: flex;
  min-width: 24px;
  height: 24px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 2px 8px;
}

.pagination-current {
  background-color: #fcfcfc;
  border-radius: 50px;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid #2d3440;
  outline-offset: -1px;
  border-radius: 50px;
}

.pagination-prev:hover,
.pagination-next:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 50px;
}

.pagination-prev:active,
.pagination-next:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
}

.pagination-prev:focus-visible,
.pagination-next:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 1px solid #fcfcfc;
  outline-offset: -1px;
  border-radius: 50px;
}

/* Разделитель на внутренней странице */

.main-catalog {
  border-bottom: 1px solid rgba(252, 252, 252, 0.3);
}

/* Иконки социальных сетей */

.socials-link {
  display: block;
  width: 24px;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
}

.telegram-icon {
  background-image: url("../images/telegram-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.vkontakte-icon {
  background-image: url("../images/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-icon {
  background-image: url("../images/youtube-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.socials-link:hover {
  background-color: #2d3440;
  outline: 2px solid rgba(252, 252, 252, 0.5);
}

.socials-link:active {
  opacity: 0.5;
}

.socials-link:focus-visible  {
  background-color: #2d3440;
  outline: 2px solid #2d3440;
  outline-offset: inherit;
}

/* Общие свойства для поповеров */

.popover {
  background-color: #fcfcfc;
  border-radius: 4px;
  z-index: 1;
}

/* Поповер каталога */

.catalog-button-wrapper {
  position: relative;
}

.catalog-popover {
  position: absolute;
  top: 40px;
  left: 0;
  width: 135px;
  min-height: 188px;
  display: none;
}

.catalog-button-wrapper:focus-within .catalog-popover {
  display: block;
}

.catalog-popover-list {
  list-style-type: none;
  padding: 0;
}

.catalog-popover-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  padding: 8px 14px;
}

.catalog-popover-link-novelties {
  font-weight: 700;
}

.catalog-popover-link:hover {
  background-color: #ffcbd8;
}

.catalog-popover-link:active {
  background-color: #ff7799;
}

.catalog-popover-link:focus-visible {
  outline: none;
  background-color: #ff4a78;
  color: #fcfcfc;
}

/* Поповер поиска */

.search-button-wrapper {
  height: 32px;
  position: relative;
}

.search-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 356px;
  min-height: 96px;
  padding: 24px 16px;
  display: none;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-invalid {
  outline: 1px solid #ea5454;
  border-radius: 4px;
  border: none;
}

.input-invalid:hover {
  outline: 2px solid #ea5454;
  border-radius: 4px;
  border: none;
}

.search-button-wrapper:focus-within .search-popover {
  display: block;
}

/* Поповер корзины */

.without-goods {
  display: none;
}

.cart-empty .with-goods {
  display: none;
}

.cart-empty .without-goods {
  display: block;
}

.cart-button-wrapper {
  position: relative;
}

.cart-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 441px;
  min-height: 382px;
  padding: 48px;
  display: none;
}

.cart-button-wrapper:focus-within .cart-popover {
  display: block;
}

.popover-item-close-button {
  width: 16px;
  height: 16px;
  border: none;
  background-image: url("../images/popover-delete-item-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  padding: 3px;
  margin-left: auto;
  align-self: center;
}

.popover-item-close-button:hover {
  opacity: 0.6;
}

.popover-item-close-button:active {
  opacity: 0.3;
}

.popover-item-close-button:focus-visible {
  outline: 2px solid #fa505b;
}

.cart-popover-empty {
  position: absolute;
  top: 40px;
  right: 0;
  width: 288px;
  min-height: 156px;
  padding: 48px 0;
  display: none;
}

.cart-empty:focus-within .cart-popover-empty {
  display: block;
}

.cart-empty:focus-within .cart-popover {
  display: none;
}

.cart-popover-empty-title {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-align: center;
}

.cart-popover-title {
  line-height: 30px;
  margin: 0 0 30px 0;
  color: #2d3440;
}

.cart-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  max-width: 160px;
}

.cart-items-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cart-items-list::after {
  content: "";
  position: absolute;
  width: 345px;
  height: 1px;
  border: 1px solid #e7e7e7;
  bottom: 32px;
}

.cart-item {
  display: flex;
  width: 100%;
}

.cart-item-title-link {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #2d3440;
}

.cart-item-image {
  margin-right: 16px;
}

.cart-item-price {
  font-weight: 700;
  font-size: 18px;
  color: #2d3440;
  align-self: center;
}

.cart-item:last-child {
  margin-bottom: 62px;
}

.intermediate-price {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #b9b9b9;
}

.set-an-order-button {
  margin-right: 27px;
}

/* Поповер входа в личный кабинет */

.login-button-wrapper {
  position: relative;
}

.login-popover {
  position: absolute;
  top: 40px;
  right: 0;
  width: 420px;
  min-height: 350px;
  padding: 48px;
  display: none;
}

.login-popover-content {
  height: 100%;
}

.login-button-wrapper:focus-within .login-popover {
  display: block;
}

.login-popover-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.login-form .field {
  margin-bottom: 16px;
}

.login-form .field:last-of-type {
  margin-bottom: 32px;
}

.login-form-links-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.login-form-recovery-link,
.registration-form-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  border-bottom: 1px solid #2d3440;
}

.login-form-recovery-link:hover,
.registration-form-link:hover {
  color: #fa505b;
  border-color: #fa505b;
}

.login-form-recovery-link:active,
.registration-form-link:active {
  opacity: 0.6;
}

.login-form-recovery-link:focus-visible,
.registration-form-link:focus-visible {
  outline: 2px solid #fa505b;
  outline-offset: 2px;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
}

/* Модальное окно */

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 52, 64, 0.3);
  z-index: 1;
  cursor: pointer;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px;
  background-color: #fcfcfc;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  cursor: default;
}

.modal-feedback {
  width: 570px;
}

.modal-close-button {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../images/modal-close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  margin: 0 0 32px 0;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
}

.modal-feedback-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.feedback-textarea::placeholder {
  color: #b9b9b9;
}

.feedback-textarea {
  width: 100%;
  padding: 14px 16px;
  resize: none;
  border: none;
  outline: 1px solid #b9b9b9;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 30px;
}

.modal-send-button {
  margin-left: auto;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
